<p> ******** Welcome to the longest word-game ! ********</p>
<p>Here is your grid :</p>

<%= @grid %>
<%= @start_time %>

<p> ******************************************************* </p>

<p>What's your best shot?</p>

<form action="">
  <input type="text" name="guess" placeholder="Answer as quick"></input>
  <input type="hidden" name="grid" value=<%= @grid %>>
  <input type="hidden" name="start_time" value=<%= @start_time %>>
  <input type="submit" name="commit" value="go!" ></input>
</form>



